<div class="overlay" [class.active]="showOverlay">
	<div class="inner">
		<div>
			<h1>
				{{overlayTitle|translate}}
			</h1>
			<p>
				{{overlayMessage|translate:lang:overlayMessageData }}
			</p>
			<button
				*ngIf="overlayClosable"
				(click)="closeOverlay(); false"
			>
				{{closeLabel|translate:lang}}
			</button>
			<button
				*ngIf="helpLink != null"
				(click)="showHelp(); false"
			>
				{{helpLabel|translate:lang}}
			</button>
		</div>
	</div>
</div>

